div{
    color: white;
}
.nav-link{
    color: white;
}
.Follow{
    margin-top: 10%;
}
.about p{
    padding-left:7.5% ;
    padding-right: 7.5%;
    color: black;
}
.contact{
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
    border-color: green;
}
.submi{
    margin-top: 10px;
    border-radius: 5px;
    border-color: green;
}
img:hover{

   border-radius: 5px;
   background-color:rgba(255, 136, 0, 0.584);
}
input:hover{
    background-color: white;
    color: green;
    transition: 0.5s;
}

.pressed{
    background-color: red;
}
.H{
    background-image: url(./images/group-kids-friends-arm-around-sitting-together.jpg);
}
.socialicons a{
   padding: 5%;
}
